<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>



  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
  <p>This is about Eunbee Lee.</p>
  </div>
  </main>

  <main class="container">
  <table style="width: 100%" cellpadding="300" cellspacing="0">
  <tr><td>
  <div class="card text-white bg-dark mb-3" style="width: 40rem;">
  <img src="./Assets/images/me.jpg" class="card-img-top" alt="My Self">
  <div class="card-body">
    <h5 class="card-title">Eunbee Lee</h5>
    <p class="card-text">Hi, I am Eunbee Lee. I am a student in Centennial college. Currently, I am studying software engineering. It's good to see you. </p>
  </div>
  </div>
  </td>
  </tr>
  </table>
  </main>
  


    

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>