<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>



  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
  <p>This is about Eunbee Lee.</p>
  </div>
  </main>

  <main class="container">
  <img src="./Assets/images/me.jpg" class="rounded mx-auto d-block" width="400" alt="My Self">
  
  <div class="row justify-content-md-center">
  <div class="col-8">
  <h2 class="display-1 text-center">Eunbee Lee</h2>
  <hr class="my-4">
  </div>
  </div>
  <div class="row justify-content-md-center">
  <div class="col-8">
  <h2 class="display-1 text-center">
  <a href = "./Assets/images/my_resume.pdf" >
  My Resume</a></h2>
  <hr class="my-4">
  </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
  <div class="col-8">
  <h2 class="display-4 text-center">Hi, My name is Eunbee Lee. Currently, I am a student in centennial college. My major is software engineering. </h2>
  </div>
  </div>
  <br><br><br><br><br><br>
  </main>
  


    

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>