<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>



  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
  </div>
  </main>

  <main class="container">
  <table style="width: 100%" cellpadding="10" cellspacing="0">
  <tr><td>
  <div class="card text-white bg-dark mb-3" style="width: 33rem;">
  <img src="./Assets/images/project1.JPG" class="card-img-top" alt="Tom's realty Inc" height="360">
  <div class="card-body">
    <h5 class="card-title">Tom's Realty Inc.</h5>
    <p class="card-text">Simple real estate web site created by using html. </p>
    <a href="http://studentweb.cencol.ca/elee150/project/home.html" class="btn btn-primary">See my work</a>
  </div>
  </div>
  </td><td>
  <div class="card text-white bg-dark mb-3" style="width: 33rem;">
  <img src="./Assets/images/project2.JPG" class="card-img-top" alt="BMR Calculator" height="360">
  <div class="card-body">
    <h5 class="card-title">BMR Calculator</h5>
    <p class="card-text">Simple BMR calculator web site created by using html & javascript. </p>
    <a href="http://studentweb.cencol.ca/elee150/Ass1/Assignment1.html" class="btn btn-primary">See my work</a>
  </div>
  </div>
  </td></tr>
  <tr><td>
  <div class="card text-white bg-dark mb-3" style="width: 33rem;">
  <img src="./Assets/images/empty.jpg" class="card-img-top" alt="blank" height="360">
  <div class="card-body">
    <h5 class="card-title">COMING SOON</h5>
    <p class="card-text">Project will be added.</p>
    <a href="#" class="btn btn-primary">See my work</a>
  </div>
</div>
  </td>
  <td>
  <div class="card text-white bg-dark mb-3" style="width: 33rem;">
  <img src="./Assets/images/empty.jpg" class="card-img-top" alt="blank" height="360">
  <div class="card-body">
    <h5 class="card-title">COMING SOON</h5>
    <p class="card-text">Project will be added.</p>
    <a href="#" class="btn btn-primary">See my work</a>
  </div>
</div>
  </td>
  </tr>
  </table>
  </main>
  <br> <br> <br> <br>





    

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>