<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


<br><br><br><br>
<!-- Main Content -->
  <div class="row justify-content-md-center">
  <div class="col-8">
  <h2 class="display-1 text-center">Business Contact List</h2>
  <hr class="my-4">
  </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
  <div class="col-md-offset-3 col-md-7">
     
   <table class="table table-bordered table-striped table-hover">
     <!-- Header Row -->
     <tr>
     <th class="text-center">User Name</th>
     <th class="text-center">Password</th>
     <th class="text-center">Name</th>
     <th class="text-center">E-mail</th>
     <th class="text-center">Contact Number</th>
     </tr>

     <!-- Repeatable Template Row -->
     <% for(let count = 0; count < UserList.length; count++) { %>
         
         <tr>
         <td class="text-center"><%= UserList[count].username %></td>
         <td class="text-center"><%= UserList[count].password %></td>
         <td class="text-center"><%= UserList[count].name %></td>
         <td class="text-center"><%= UserList[count].email %></td>
         <td class="text-center"><%= UserList[count].number %></td>
         </tr>

     <% } %>

   </table>
  


  </div>
  </div>

  </main>
<br><br><br><br>

    

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>