<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>


<br><br><br><br>
<!-- Main Content -->
  <div class="row justify-content-md-center">
  <div class="col-8">
  <h2 class="display-1 text-center">Business Contact List</h2>
  <hr class="my-4">
  </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
  <div class="col-md-offset-3 col-md-8">
     
   <table class="table table-bordered table-striped table-hover">
     <!-- Header Row -->
     <tr>
     <th class="text-center ">Name</th>
     <th class="text-center ">E-mail</th>
     <th class="text-center ">Contact Number</th>
     <th class="text-center "></th>
     <th class="text-center "></th>
     </tr>

     <!-- Repeatable Template Row -->
     <% for(let count = 0; count < UserList.length; count++) { %>
         
         <tr>
         <td class="text-center ">&nbsp;&nbsp;&nbsp;&nbsp;<%= UserList[count].name %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
         <td class="text-center ">&nbsp;&nbsp;&nbsp;&nbsp;<%= UserList[count].email %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
         <td class="text-center ">&nbsp;&nbsp;&nbsp;&nbsp;<%= UserList[count].number %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
         <td class="text-center ">
         <a href="/user-list/edit/<%= UserList[count]._id %>" class="btn btn-outline-primary btn-sm" role="button">
         <i class="far fa-edit"></i> Edit </a>
         </td>
         <td class="text-center ">
         <a href="/user-list/delete/<%= UserList[count]._id %>" class="btn btn-outline-danger btn-sm" role="button">
         <i class="far fa-trash-alt"></i> Delete </a>
         </td>

         </tr>

     <% } %>

   </table>
  
  <a href="/user-list/add" class="btn btn-secondary" role="button">
  <i class="fas fa-plus-circle"></i> Add a contact</a>

  </div>
  </div>

  </main>
<br><br><br><br>

    

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>